body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

header {
    background-color:#4caf50;
    text-align:center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #859f86;
    max-width: 50vh;
    user-select: none;
}

h1 {
    color:#fff
}

.container {
    text-align: center;
    flex: 1;
    margin-top: 10vh;
    user-select: none;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 10px #859f86;
}

button:hover {
    background-color: #45a049;
}

input {
    margin-top: 10px;
}

footer {
    background-color: #4caf50;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px #859f86;
    max-width: 50vh;
    user-select: none;
}